@use "../styles/partials/mixins" as *;
@use "../styles/partials/variables" as *;

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  background-color: #f5f5f5;

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__total-score--box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: #c0c0c0 1px solid;
    border-radius: 10px;
    box-shadow: 0 8px 10px -4px rgba(0, 100, 200, 0.2);
  }

  &__total-score {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
  }

  &__msg--box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  &__msg {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__score {
    font-size: 1.5rem;
    color: red;
  }
  &__score-container {
    width: 100%;
    margin: 1rem 0;
  }

  &__score--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    font-weight: 800;
    margin-bottom: 0.5rem;
    border-bottom: #c0c0c0 1px solid;

    &__red {
      color: rgb(117, 34, 34);
    }

    &__green {
      color: #3b7931;
    }

    &__orange {
      color: #c78437;
    }

    &__blue {
      color: #1671a4;
    }

    &__purple {
      color: #882d7f;
    }
  }

  &__score__red {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(117, 34, 34);
  }
  &__score__green {
    font-size: 1.5rem;
    font-weight: 800;
    color: #3b7931;
  }
  &__score__orange {
    font-size: 1.5rem;
    font-weight: 800;
    color: #c78437;
  }
  &__score__blue {
    font-size: 1.5rem;
    font-weight: 800;
    color: #1671a4;
  }
  &__score__purple {
    font-size: 1.5rem;
    font-weight: 800;
    color: #882d7f;
  }

  .result__btn {
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #004099;
      color: #fff;
    }
    &-link {
      text-decoration: none;
      color: #000;
      &:hover {
        // background-color: #004099;
        color: #fff;
      }
    }
  }
  &__form {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c78437;

    &__container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 2rem;
      @include tablet {
        width: 50%;
      }
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--label {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: center;
    }

    &--input {
      width: 80%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #000;
      border-radius: 5px;
      margin-bottom: 1rem;

      & + .error {
        margin-bottom: 0;
      }

      &__comment {
        height: 10rem;
        overflow: hidden;
        white-space: normal;
      }
    }
    &--error {
      color: red;
      font-size: 0.875em;
      // margin-top: 0.25em;
    }
  }

  &__form--txt__tablet {
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__btn__container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    @include tablet {
      width: 80%;
    }
  }

  &__btn {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;

    // font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;

    @include tablet {
      width: 100%;
    }
    &:hover {
      background-color: #004099;
      color: #fff;
    }

    &__left {
      margin-left: 1rem;
    }
  }
}
